<a href="https://colab.research.google.com/github/ykg3mp/DSI_challenge/blob/master/CharlottesvilleVisionZeroDriverGuidance_Gilbo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## This code is a DSI project exploration to determine dangerous areas for Charlottesville motorists, pedestrians, and drivers. 
Last updated 11.4.2019 
Yekaterina (Katya) Gilbo

In [0]:
import numpy as np
import pandas as pd

### Import the Data (stored on my github)

In [15]:
# arrest data 
urlA = "https://github.com/ykg3mp/DSI_challenge/blob/master/Arrests.csv?raw=true"
df_arrests = pd.read_csv(urlA, sep=",")
df_arrests.head()

   ArrestID            ArrestDatetime FirstName  ...         Street   Race     Sex
0         1  2019-11-01T20:54:00.000Z   MICAELA  ...  WMAIN ST 213B  White  Female
1         2  2019-11-01T15:12:00.000Z  RANDOLPH  ...  HARRIS ST 101  Black    Male
2         3  2019-11-01T13:21:00.000Z     BENNY  ...  HARRIS ST 101  White    Male
3         4  2019-10-31T17:24:00.000Z    JOSHUA  ...     GARRETT ST  Black    Male
4         5  2019-10-31T15:42:00.000Z  CHEYANNE  ...    E MARKET ST  Black  Female

[5 rows x 12 columns]

In [14]:
# crime data 
urlC = "https://github.com/ykg3mp/DSI_challenge/blob/master/Crime_Data.csv?raw=true"
df_crime = pd.read_csv(urlC, sep=",")
df_crime.head()

   RecordID  ... HourReported
0         1  ...            9
1         2  ...         2241
2         3  ...         1916
3         4  ...         1904
4         5  ...         1841

[5 rows x 8 columns]

In [0]:
df_arrests[]

### Extract Vehicle Related Incidents

In [35]:
import re
# from arrest data 
  # see unique descriptions first to determine necessary key words
pd.unique(df_arrests['StatuteDescription']) # 539 unique descriptions -- tough, not standardized 

  # create mask to get arrests that are driving-related 
keywordList = 'driver|accident|reck dr|DWI|motor|vehicle|drive|traffic|pedestrian|carjacking|driving|drv|hit'
df_arrests_SD = df_arrests['StatuteDescription']
keywordMask = df_arrests_SD.str.contains(keywordList, flags=re.IGNORECASE, regex=True, na=False)
df_arrests[keywordMask].head()

    ArrestID            ArrestDatetime FirstName  ...       Street   Race     Sex
4          5  2019-10-31T15:42:00.000Z  CHEYANNE  ...  E MARKET ST  Black  Female
36        37  2019-10-28T20:24:00.000Z    Tamond  ...  PEREGORY LN    nwt    Male
37        38  2019-10-28T20:24:00.000Z    Tamond  ...  PEREGORY LN    nwt    Male
38        39  2019-10-28T20:24:00.000Z    Tamond  ...  PEREGORY LN    nwt    Male
51        52  2019-10-28T05:38:00.000Z    MATESO  ...  PRESTON AVE  Black    Male

[5 rows x 12 columns]

### Visualize on a map where incidents occur

In [0]:
import sys
!{sys.executable} -m pip install geopandas
import pandas as pd
import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt
import folium
from folium.plugins import FastMarkerCluster

### It will take some time to convert from addresses which need to be reformatted to lats and longs

In [0]:
#https://blog.prototypr.io/interactive-maps-with-python-part-1-aa1563dbe5a9
locator = Nominatim(user_agent="myGeocoder")
location = locator.geocode("Market Street East, Charlottesville, Virginia")

folium_map = folium.Map(location=[location.latitude, location.longitude],
                        zoom_start=13,
                        )

marker = folium.Marker(
    location=[location.latitude, location.longitude]).add_to(folium_map)

### This is a map showing traffic accidents could be displayed (currently showing just one) and later incorporated into an app with driving directions through Google's API

In [98]:
folium_map

### Identify problem areas

In [0]:
# TO BE DONE